@page "/dashboard"
@inject IHttpClientFactory HttpFactory

@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<p role="status">Response: @content</p>
<button class="btn btn-primary" @onclick="LoadApi">LoadApi</button>

@code {
    private int currentCount = 0;
    private string content = "Click on the button.";

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void LoadApi(){
        
        var client = HttpFactory.CreateClient("PythonWebServer");
        var response = await client.GetAsync("get");
        @* HttpResponseMessage response = await client.GetAsync("https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&daily=sunrise,sunset&timezone=Europe%2FBerlin"); *@
        response.EnsureSuccessStatusCode();
        content = await response.Content.ReadAsStringAsync();
        StateHasChanged();
        Console.WriteLine(content);
    }
}
