@page "/dashboard"
@inject IHttpClientFactory HttpFactory
@inject IJSRuntime JS
@using System.Text.Json;

@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

@* <p role="status">Response: @content</p> *@
<button id="button" class="btn btn-primary" @onclick="LoadApi" hidden>LoadApi</button>

<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/js/charts.js"></script>

<script>
    document.getElementById('button').click();
    interval = setInterval(function() {
        document.getElementById('button').click();
    }, 10000);
</script>

@code {
    private int currentCount = 0;
    public string content = "Click on the button.";
    public GetResponse? response = null;

    public DateTime lastSync = DateTime.Now.AddDays(-1);

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void LoadApi(){    
        content = "Loading";
        @* HttpClient client = new HttpClient(); *@

        Console.WriteLine(lastSync);

        HttpClient client = HttpFactory.CreateClient("PythonWebServer");
        Console.WriteLine($"content1: {content}");

        Console.WriteLine($"/?start_date={lastSync.ToString("yyyy-MM-dd HH:mm:ss")}&end_date={DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")}");

        var http_response = await client.GetAsync($"/?start_date={lastSync.ToString("yyyy-MM-dd HH:mm:ss")}&end_date={DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")}");
        content = await http_response.Content.ReadAsStringAsync();

        Console.WriteLine($"content2: {content}");

        
        @* GetResponse response = JsonSerializer.Deserialize<GetResponse>(content); *@
        response = JsonSerializer.Deserialize<GetResponse>(content);

        var labels = response.Heart_Rate.Select(rate => rate.TimeStamp).ToList();
        var data = response.Heart_Rate.Select(rate => rate.HeartRate).ToList();
        var body_temp = response.Body_Temperature.Select(rate => rate.Temperature).ToList();
        var oxygen_temp = response.Blood_Oxygen.Select(rate => rate.Oxygen).ToList();

        lastSync = response.Heart_Rate.Max(hr => hr.TimeStamp);
        lastSync.AddMicroseconds(1);
        await JS.InvokeAsync<Task>("set_data", labels, data, body_temp, oxygen_temp);
        StateHasChanged();
    }

}
