@page "/dashboard"
@inject IHttpClientFactory HttpFactory
@using System.Text.Json;

@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<p role="status">Response: @content</p>
<button class="btn btn-primary" @onclick="LoadApi">LoadApi</button>

@code {
    private int currentCount = 0;
    private string content = "Click on the button.";
    public GetResponse? response = null;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void LoadApi(){
        
        var client = HttpFactory.CreateClient("PythonWebServer");
        var httpResponse = await client.GetAsync("get");
        @* HttpResponseMessage response = await client.GetAsync("https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&daily=sunrise,sunset&timezone=Europe%2FBerlin"); *@
        httpResponse.EnsureSuccessStatusCode();
        content = await httpResponse.Content.ReadAsStringAsync();

        StateHasChanged();
        
        GetResponse response = JsonSerializer.Deserialize<GetResponse>(content);


        Console.WriteLine(response.Heart_Rate);
    }
}
